[Global]
; Command the bot should listen for
BOT_COMMAND_STR = !INDEED
; Disable to stop the bot from posting comments
ENABLE_COMMENTS = True
; Disable to stop post messages for unsuccessful calls (spamprevention)
ENABLE_FAULT_COMMENTS = True
; Account the bot will post from
ACCOUNT_NAME = indeedly
; Posting key for the account
ACCOUNT_POSTING_KEY = 5HqxwhMnZrDiMFzrqJ2H47zPqHBivR9AVDVZzs8WFkoEDUdy746 
; Active key for Hive-Engine transfers
ACCOUNT_ACTIVE_KEY = 5K5YKYGBASzDUhgTmmeQXY1Rwo629Gp5UizQQNJXUhC7T2fREzQ
; Hive API node to use for read/write ops
; HIVE_API_NODE = https://hived.emre.sh
HIVE_API_NODE = https://api.openhive.network
; Heartbeat url
HEARTBEAT = https://uptime.betterstack.com/api/v1/heartbeat/4MwkdmAHUm4NVJ3twijnAJ4c

[HiveEngine]
; Name of Hive-Engine token for gifting
TOKEN_NAME = IDD
; Disable to stop the bot from making token transfers
ENABLE_TRANSFERS = True
; Disable to stop the bot from making token transfers to the invoker
ENABLE_SELF_TRANSFERS = True
; Amount the bot should give when invoked
TOKEN_GIFT_AMOUNT = 1
; Amount the bot should give to the invoker when invoked
TOKEN_SELF_GIFT_AMOUNT = 0.2
; Enable upvoting of the commented on post
ENABLE_UPVOTE = False
; List of users to block from sending and receiving gifts
; Text for HE transfer memos
TRANSFER_MEMO = Here is a tip for you, keep up the good work.
TRANSFER_SELF_MEMO = Yeah sure, you can get a tip too!
; Blocks from sending tips with the bot
GIFT_SND_BLOCK_LIST = bpcvoter1, bpcvoter2, bpcvoter3, bpcvoter4, bilpcoinbpc
; Blocks from receiving tips with the bot
GIFT_REC_BLOCK_LIST = 

[AccessLevel1]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 50
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 5
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 1


[AccessLevel2]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 100
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 10
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 2

[AccessLevel3]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 500
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 25
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 5

[AccessLevel4]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 1000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 50
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 5

[AccessLevel5]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 5000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 75
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 5

[AccessLevel6]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 10000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 100
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 8

[AccessLevel7]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 50000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 250
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 25

[AccessLevel8]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 100000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 500
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 25

[AccessLevel9]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 500000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 1000
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 25

[AccessLevel10]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 1000000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 2000
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 25

[AccessLevel11]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 5000000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 5000
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 25
